<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Online FlatBanking</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">

    <% if Helpers.is_logged_in?(session) %>
      <h1> Welcome <%= Helpers.current_user(session).username %></h1>
      <h3> Your Balance: <%= Helpers.current_user(session).balance %></h3>
        <h3><a href="/logout">Log Out</a></h3>
    <% else %>
      <%= redirect to '/index' %>
    <% end %>
      

  </body>
</html>